name: Publish

on:
  push:
    branches:
      - main
      - master
    tags:
      - 'v*'

jobs:
  publish_npm:
    uses: koikirin/buildplate/.github/workflows/publish_npm.buildplate.yml@v1

  publish_tag:
    uses: koikirin/buildplate/.github/workflows/publish_tag.buildplate.yml@v1
