name: Publish

on:
  push:
    tags:
      - 'v*'

jobs:
  publish_tag:
    uses: koikirin/.github/.github/workflows/publish_tag.buildplate.yml@v1

  publish_npm:
    uses: koikirin/.github/.github/workflows/publish_npm.buildplate.yml@v1
